// Colors
// colors from theme.json
$background-1: var(--wp--preset--color--background-1);
$background-2: var(--wp--preset--color--background-2);
$contrast-1: var(--wp--preset--color--contrast-1);
$contrast-2: var(--wp--preset--color--contrast-2);
$highlight-1: var(--wp--preset--color--highlight-1);
$highlight-2: var(--wp--preset--color--highlight-2);
$lowlight-1: var(--wp--preset--color--lowlight-1);
$lowlight-2: var(--wp--preset--color--lowlight-2);
$blue100: var(--wp--preset--color--uc-blue-100);
$blue200: var(--wp--preset--color--uc-blue-200);
$blue300: var(--wp--preset--color--uc-blue-300);
$blue500: var(--wp--preset--color--uc-blue-500);
$blue600: var(--wp--preset--color--uc-blue-600);
$blue700: var(--wp--preset--color--uc-blue-700);
$coolGrey100: var(--wp--preset--color--uc-cool-grey-100);
$coolGrey200: var(--wp--preset--color--uc-cool-grey-200);
$coolGrey300: var(--wp--preset--color--uc-cool-grey-300);
$coolGrey500: var(--wp--preset--color--uc-cool-grey-500);
$grey100: var(--wp--preset--color--uc-grey-100);
$grey200: var(--wp--preset--color--uc-grey-200);
$grey300: var(--wp--preset--color--uc-grey-300);
$grey400: var(--wp--preset--color--uc-grey-400);
$grey500: var(--wp--preset--color--uc-grey-500);
$grey600: var(--wp--preset--color--uc-grey-600);
$grey700: var(--wp--preset--color--uc-grey-700);
$grey800: var(--wp--preset--color--uc-grey-800);
$grey900: var(--wp--preset--color--uc-grey-900);
$red200: var(--wp--preset--color--uc-red-200);
$red300: var(--wp--preset--color--uc-red-300);
$red400: var(--wp--preset--color--uc-red-400);
$red500: var(--wp--preset--color--uc-red-500);
$red600: var(--wp--preset--color--uc-red-600);
$red800: var(--wp--preset--color--uc-red-800);

$uconn-blue: $contrast-2;
$royal-blue: $highlight-2;
$uconn-red: $highlight-1;
$medium-grey: $lowlight-1;
$uconn-grey: $lowlight-2;
$light-grey: $background-2;

/* Base URL for the webfonts */
$font-base-url: "https://ucommobjectstorage.blob.core.windows.net/uconn-cdn-files/shared/fonts";

$contentSize: var(--wp--style--global--content-size);
$wideSize: var(--wp--style--global--wide-size);

/* Breakpoints */
// breakpoints can't use CSS variables...
$x-large-breakpoint: 1600px;
$large-breakpoint: 1240px;
$max-grid-breakpoint: calc($large-breakpoint + 40px);
$medium-breakpoint: 992px;
$small-breakpoint: 768px;
$mobile-breakpoint: 480px;

@mixin button-styles($contrast-color: $royal-blue, $base-color: $uconn-blue, $text-color: #ffffff, $alt-text-color: #ffffff) {
  background-color: transparent;
  border: 0;
  border-left: 6px solid $contrast-color;
  border-radius: 0;
  color: $text-color;
  display: inline-block;
  line-height: 1;
  min-width: 300px;
  padding: 18px 30px;
  position: relative;
  z-index: 0;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &:before {
    background-color: $base-color;
    z-index: -2;
  }

  &:after {
    background-color: $contrast-color;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    will-change: transform;
    z-index: -1;
  }

  span {
    color: $text-color;
    line-height: 1.1;
  }

  &:hover {
    color: $alt-text-color;
    span {
      color: $alt-text-color;
    }
    &:after {
      transform: scaleX(1);
    }
  }

  &:focus {
    color: $alt-text-color;
    span {
        color: $alt-text-color;
      }
    &:after {
      transform: scaleX(1);
    }
  }


}

@mixin angled-header-styles($background-color: #173e9b, $left-color: #0c2f81, $right-color: #0f3389) {
  background-color: $background-color;
  overflow: hidden;
  padding: 20px;
  position: relative;
  z-index: 0;

  h1 {
    color: #ffffff;
    padding-inline: 0;
  }

  &:before {
    content: '';
    background-color: $left-color;
    display: block;
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: 0;
    height: 153px;
    transform: matrix(1.2, 0, 0.8391, 1, 0, 0);
    transform-origin: bottom;
    width: 37.5rem;
    z-index: -1;
  }

  &:after {
    content: '';
    background: linear-gradient(50deg, rgba(255, 255, 255, 0) 40%, $right-color 40%);
    display: block;
    height: 110px;
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;
    width: 715px;
    z-index: -2;
  }

  @media screen and (min-width: 37.5rem) {
    overflow: visible;
  }

  @media screen and (min-width: $contentSize) {
    h1 {
      padding-inline: 20px;
    }
  }
}

%accordion-button-styles {
  align-items: center;
  color: $uconn-blue;
  padding-block: 16px;
  padding-inline: 16px;
  > span {
    color: $uconn-blue;
  }
}

@mixin box-shadow ($x: -20px, $y: 20px, $blur-radius: 0, $spread-radius: 0, $color: $background-2) {
  box-shadow: $x $y $blur-radius $spread-radius $color;
}

%round-icon {
  align-items: center;
  border-radius: 100%;
  display: flex;
  justify-content: center;
}

%round-icon-links {
  a {
    display: block;
    text-decoration: none;
    i {
      @extend %round-icon;
    }
  }
}