 /*Edits from Jess */
 
 /* "home" fact check edits*/ 

 #factcheck .ui-sortable h3.fl-heading span.fl-heading-text {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 50px 0 25px;
}

#factcheck h2.fl-post-feed-title a {
    color: #000e2f;
    line-height: 1.1;
    text-decoration: none;
}

#factcheck h2.fl-post-feed-title a:hover {
    color: #b61311;
    text-decoration: underline;
}

#factcheck .widget_categories h2.widgettitle {
    font-size: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 50px 0 25px;
}


#factcheck .widget_categories ul {
    list-style-type: none;
    padding-left: 0;
}

#factcheck .widget_categories ul li.cat-item {
    display: inline-block;
    margin-right: 15px;

 }


#factcheck .widget_categories ul li.cat-item a {
    padding: 7px 15px;
    background-color: #000e2f;
    background: linear-gradient(to right, #b61311 50%, #000e2f 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all .5s ease;
    border: 0;
    border-left: 6px solid #b61311;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
}

#factcheck .widget_categories ul li.cat-item a:hover {
    background-position: left bottom;
}


 /*blog format pages*/ 
.type-post h1 {
    font-size: 30px;
}

.type-post .content-container {
    margin-top: 1rem;
}

.type-post .image-container {
    display: none;
}

article.type-post {
    margin: 60px 0;
}

.category main section h1 {
    font-size: 16px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin: 50px 0 25px;
}

.category main section h1:before {
    content: 'factcheck';
    display: inline-block;
    margin: 0 15px 10px 0px;
    padding: 7px 15px;
    background-color: #f0f3f7;
    border: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: #000e2f;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    vertical-align: baseline;
}

.category .post-content h2 {
    font-size: 30px;
    line-height: 1.1;
}

.category .post-content h2 a {
    color: #000e2f;
    line-height: 1.1;
    text-decoration: none;
}

.category article {
    border-bottom: solid 1px #cccccc;
}

.category article:last-child {
    border: none;
}

.category .post-content {
    margin-left: 0;
    padding: 0 0 37px;
}


.category .post-content h2 a:hover {
    color: #b61311;
    text-decoration: underline;
}

/*effects Read More link on category pages*/
.category .post-content p:last-child a {
    margin-right: 15px;
    padding: 7px 15px;
    background-color: #000e2f;
    background: linear-gradient(to right, #b61311 50%, #000e2f 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all .5s ease;
    border: 0;
    border-left: 6px solid #b61311;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
}

.category .post-content p:last-child a:hover {
    background-position:left bottom;
}

/* optional button style links */
a.buttonstyle {
    display: inline-block;
    margin-right: 15px;
    padding: 7px 15px;
    background: linear-gradient(to right, #b61311 50%, #000e2f 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all .5s ease;
    border: 0;
    border-left: 6px solid #b61311;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

a.buttonstyle:hover {
    background-position:left bottom;
}
