@import "config";
@import "typography";
@import "utility/flex";
@import "utility/screen-reader";
@import "utility/skip-links";
@import "components/icons";
@import "components/accordions";
@import "components/angle-title";
@import "components/beaver-builder-overrides";
@import "components/links";
@import "components/buttons";
@import "components/banner";
@import "components/cover-block";
@import "components/images";
@import "components/topnav";
@import "components/mobilenav";
@import "components/layout";
@import "components/footer";
@import "components/customtext";
@import "components/contact-form";
@import "components/map";
@import "components/search";
@import "components/uctoday";
@import "components/forms";
@import "components/forminator-overrides";
@import "pages/page";
@import "pages/az-index";
@import "pages/search";
@import "pages/people";
@import "pages/posts";
@import "pages/uconn360-podcast";
@import "pages/tax-archives";

// Fact check - from Jess
@import "factcheckCSS";

// import .scss files here.
html,
body {
    margin: 0;
    box-sizing: border-box;
    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.contain {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0px 20px;
}