$font-family-header: var(--wp--preset--font-family--heading);
$font-family-body: var(--wp--preset--font-family--body);
$fallback-fonts: $font-family-body, sans-serif;
$uconn-font: var(--wp--preset--font-family--uconn);
$proxima-nova-font: var(--wp--preset--font-family--proxima-nova);

// font sizes
$h1-size: var(--wp--custom--typography--header--size-medium);
$h2-size: var(--wp--custom--typography--header--size-large);
$h3-size: var(--wp--custom--typography--header--size-small);
$h4-size: var(--wp--custom--typography--header--size-x-small);

@font-face {
    font-family: "banner icons";
    src: url($font-base-url+"/icons/icons.eot");
    src: url($font-base-url+"/icons/icons.eot?#iefix") format("embedded-opentype"),
        url($font-base-url+"/icons/icons.ttf") format("truetype"),
        url($font-base-url+"/icons/icons.woff") format("woff"),
        url($font-base-url+"/icons/icons.svg#icons") format("svg");
    font-weight: normal;
    font-style: normal;
}

// these styles were overriding header styles incorrectly
// hoisting them above the %header-styles declaration helps
main {
    p,
    a,
    blockquote,
    span,
    li {
        line-height: 1.8;
    }
    li {
        margin-top: 1em;
        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        &.link-menu {
            li {
                margin: 0;
            }
        }
    }
}

%smoothing {
    text-rendering: geometricPrecision;
    //text-shadow: 0px 0px 1px rgba(0,0,0,0);
    //-webkit-transform: rotate(-0.0000000001deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%header-styles {
    margin: 0;
    line-height: 1.3;
    font-family: $font-family-header;
    font-weight: 500;
    color: $uconn-blue;
    padding: 20px;
    span,
    span.fl-heading-text {
        margin: 0;
        line-height: 1.3;
        font-family: $font-family-header;
        font-weight: 500;
        color: $uconn-blue;
    }
}

%button-typography {
    font-family: $font-family-body;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none; 
    text-align: center;
    text-transform: uppercase;
}

body,
body {
    font-family: $font-family-body;
    color: $uconn-blue;
}

// Nullify Default Margins
h1,
h2,
h3,
h4,
h5,
h6 {
    @extend %header-styles;
}

button,
input,
textarea {
    font-family: $font-family-header;
}

// Some default sizes
h1 {

    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
}

h3 {
    font-size: $h3-size;
}

h4 {
    font-size: $h4-size;
}

.fl-module.is-style-h2-small {
    h2 {
        font-size: $h3-size;
    }
}

h2.is-style-h2-small {
    font-size: $h3-size;
}

p:first-child {
    margin-top: 0;
}

body:not(.fl-builder) {
    p {
        margin-block: 0;
        padding: 20px;
    }
}