#az-index-wrapper {
  h1,
  h2,
  h3 {
    margin: 0.83em 0;
  }
  h3:before {
    content: '';
    display: block;
    margin-top: -4rem;
    height: 3rem;
    pointer-events: none;
    visibility: hidden;
  }
  .az-container {
    + .az-container {
      border-top: 1px solid #ccc;
      margin-top: 50px;
      padding-top: 50px;
    }
  }
  .hidden {
    display: none;
  }
}

.az-link-list {
  columns: 1;
  list-style-type: none;
  li {
    display: inherit;
    // &.hidden {
    //   display: none;
    // }
  }
  @media screen and (min-width: $small-breakpoint) {
    columns: 2;
  }
}


#results-text {
  // display: none;
  visibility: hidden;
}

#link-list {
  list-style-type: none;
  margin-left: -.4rem;
  padding: 0;
  li {
    display: inline-block;
    margin: .4rem;
  }
}

