#search-wrapper {
  margin: 3rem auto;
  article {
    margin-top: 2.5rem;
    &:last-of-type {
      margin-bottom: 2.5rem;
    }
  }
  form {
    margin-top: 2rem;
  }
  .search-submit {
    display: block;
    margin-top: 2rem;
  }
}



ul[id^='menu-podcast'] {
  list-style-type: none;
  padding: 0;
  li {
    display: inline-block
  }
  a {
    padding-left: 1rem;
  }
  span {
    margin-right: 1rem;
  }
  @media screen and (max-width: $medium-breakpoint) {
    li {
      display: block;
      padding-left: 1rem;
    }
    a {
      padding-left: 0;
    }
  }
}

.post-content-wrapper {
  display: flex;
  .image-container {
    a {
      display: inline-block;
      line-height: 0;
    }
  }
  .post-image {
    height: auto;
    max-width: 300px;
  }
  .post-content {
    margin-left: 2rem;
    h2 {
      font-size: 35px;
    }
    a {
      line-height: 1.4;
    }
  }
  .tag-container {
    display: flex;
    margin-top: 1rem;
    p {
      margin: 0;
    }
  }
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    li + li {
      margin: 0;
      margin-left: 2rem;
    }
  }
  @media screen and (max-width: $medium-breakpoint) {
    flex-direction: column;
    .post-content {
      margin-left: 0;
    }
  }
}

.contain.pagination-container {
  margin-bottom: 6rem;
  * + * {
    margin-left: 0.5rem;
  }
}