// the title and container only need to be set when _not_ using BB
body.page-with-blocks main .hentry,
body.archive.tax-group,
body.archive.tax-persontag,
.page-template-user-people {
  .angle-title-row {
    @include angled-header-styles($background-color: #001e63, $left-color: #001649, $right-color: #193472);
  }
  .title-container,
  .people-container {
    margin: 0 auto;
    max-width: 1240px;
    padding-block: 20px;
    p {
      margin-block: 0;
      padding: 0;
    }
  }
}

body.page-with-blocks main .hentry,
body.fl-builder main .hentry,
body.archive.tax-group,
body.archive.tax-persontag,
.page-template-user-people {
  .people-filter-container {
    background-color: $coolGrey200;
    margin-inline: 20px;
    padding: 40px;
  }
  .select-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .group-select-container {
      flex: 1 1 auto;
    }
    + div {
      margin-block-start: 20px;
    }
  }
  .select-container {
    > div {
      + div {
        margin-block-start: 10px;
      }
    }
  }
  input,
  select {
    padding: 0.5rem;
    width: 100%;
  }
  .people-grid {
    display: grid;
    margin-block: 20px;;
    &.people-cols-6 {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    &.people-cols-4 {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    &.people-cols-3 {
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    }

    &.people-cols-2 {
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }
    .person-info {
      padding: 1rem;
      .person-detail {
        + .person-detail {
          margin-block-start: 8px;
        }
      }
      .person-name {
        a {
          font-size: 18px;
          text-decoration: none;
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
      .person-title {
        color: $grey700;
        font-size: 14px;
        line-height: 1.4;
      }
    }
    .person-info-hide {
      display: none;
      &-groups {
        display: none;
      }
      &-persontags {
        display: none;
      }
    }
  }
  .person-photo-container {
    aspect-ratio: 3 / 2;
    display: flex;
    justify-content: center;
    margin-block-end: 20px;
    img {
      height: auto;
      width: 100%;
    }
  }
}

// styles for a single person
body.single-person {
  main {
    .hentry {
      > * {
        max-width: $wideSize;
      }
      > .angle-title-row {
        max-width: unset;
      }
      .bio-section {
        margin-block: 40px;
      }
    }
  }
  .angle-title-row {
    @include angled-header-styles($background-color: #001e63, $left-color: #001649, $right-color: #193472);
    + section.info-section {
      margin-block-start: unset;
    }
  }
  .angle-title-container {
    visibility: hidden;
  }
  .info-section {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0 20px;
  }
  .headshot-container {
    flex: 3;
    h2 {
      padding-inline: 0;
    }
    .image-container {
      margin-block-end: unset;
    }
  }
  .info-container {
    background-color: $coolGrey100;
    flex: 4;
    padding: 40px;
  }
  .person-info-item {
    display: flex;
    flex-wrap: wrap;
    p {
      padding: 0;
    }
    > div {
      margin: 0;
    }
    & + .person-info-item {
      margin-block-start: 20px;
    }
  }
  .item-label-container {
    flex: 0 1 150px;
    font-weight: bold;
  }
  .item-container {
    flex: 1 1 300px;
  }
}