.single {
  article {
    div + div {
      margin-top: 4rem;
    }
  }
  .image-container {
    margin: 4rem auto;
    max-width: 37.5rem;
    img {
      height: auto;
      width: 100%;
    }
  }
}

article.uconn360-podcast {
  margin-bottom: 20px;
}