.search-contain {
  margin: 0 auto;
  max-width: $wideSize;
  padding: 0 20px;
}

#search-wrapper {
  max-width: $small-breakpoint;
  margin-left: 0;
  padding: 20px 0;
  .post-content {
    margin-left: 0;
  }
}

#google-search {
  margin-top: 5rem;
  div + div {
    margin-top: 1.5rem;
  }
  label{
    display:inline-block;
    margin-right: 1.2rem;
  }
  input[name='cx'] {
    margin-right: .25rem;
  }
}

#cse-search-results {
  .gsc-results {
    font-family: $font-family-body;
  }
  .gsc-control-cse.gsc-control-cse-en {
    padding: 1rem 0;
  }
  .gs-title,
  .gs-title b {
    color: $uconn-red !important;
    &:hover,
    &:focus {
      color: $uconn-blue !important;
    }
  }
  .gsc-result-info,
  .gs-visibleUrl,
  .gs-visibleUrl b,
  .gsc-cursor-page,
  .gcsc-find-more-on-google {
    color: $medium-grey !important;
  }
  .gcsc-find-more-on-google-magnifier {
    fill: $medium-grey !important;
  }
  .gs-snippet,
  .gsc-cursor-current-page {
    color: $uconn-blue !important;
  }
}

.gsc-table-result, .gsc-thumbnail-inside, .gsc-url-top {
  padding: 0px;
}