body.tax-group,
body.tax-persontag {
  main {
    h1 {
      padding-inline: 0;
    }
    .hentry {
      > * {
        max-width: $wideSize;
      }
    }
    #archive {
      margin: 0 auto;
      max-width: $wideSize;
      padding: 20px;
    }
  }

  .tax-content-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .post-content-wrapper {
    flex-direction: column;
    height: 100%;
    .image-container {
      flex: 1;
    }
    .post-image {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .post-content {
      margin-left: unset;
      h2 {
        font-size: 24px;
        font-weight: normal;
        padding-inline: unset;
      }
    }
  }
}