body.post-type-archive-uconn360-podcast {
  main {
    h1 {
      padding-inline: 0;
    }
    .hentry {
      > * {
        max-width: $wideSize;
      }
    }
    #archive {
      margin: 0 auto;
      max-width: $wideSize;
      padding: 20px;
    }
  }
}