@import '../../sass/config';

// this file primarily loads the main config file
// it can also be used to set styles for specific templates
// see editor.js for implementation details

.angled-header-template {
  .edit-post-visual-editor__post-title-wrapper {
    @include angled-header-styles;
    & {
      margin-block-end: 100px;
      padding-block-start: 20px;
      padding-block-end: 20px;
      position: relative;
    }
    &:before,
    &:after {
      z-index: 0;
    }
    h1 {
      color: #ffffff;
      margin: unset;
    }
  }
}