@import "../../sass/config";
@import "../../sass/typography";

[data-type="core/button"].is-style-default {
  > div {
    @extend %button-typography;
    @include button-styles;
  }
}

[data-type="core/button"].is-style-royal-blue-white-hover {
  > div {
    @extend %button-typography;
    @include button-styles(
      #ffffff,
      $highlight-2,
      $alt-text-color: $uconn-blue 
    );
  }
}

[data-type="core/button"].is-style-white-royal-blue-hover {
  > div {
    @extend %button-typography;
    @include button-styles(
      $base-color: $background-1,
      $text-color: $contrast-2,
      $alt-text-color: $background-1
    );
  }
}

[data-type="core/cover"].is-style-full-height-cover {
  height: 100%;
}

[data-type="core/cover"].is-style-red-shadow {
  @include box-shadow($color: $highlight-1);
}

[data-type="core/cover"].is-style-royal-blue-shadow {
  @include box-shadow($color: $blue700);
}

[data-type="core/cover"].is-style-grey-shadow {
      @include box-shadow($color: $coolGrey300);
}

[data-type="core/cover"].is-style-uconn-blue-shadow {
  @include box-shadow;
}

// need to revist. this doesn't work
[data-type="core/column"] {
  [data-type="core/button"] {
    margin-inline-start: 20px !important;
  }
}

[data-type="ucomm-blocks/accordion-block-item"] {
  border: 1px solid #e5e5e5;
  margin-block-end: 10px;
  .uc-accordion-input-wrapper {
    @extend %accordion-button-styles;
    border: unset;
  }
}