/* @font-face {
  font-family: 'icomoon-social';
  src:  url('fonts/icomoon.eot?oohnvd');
  src:  url('fonts/icomoon.eot?oohnvd#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?oohnvd') format('truetype'),
    url('fonts/icomoon.woff?oohnvd') format('woff'),
    url('fonts/icomoon.svg?oohnvd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */

/* use !important to prevent issues with browser extensions that change fonts */
/* [class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon-social' !important;
  font-size: 45px;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* the other social icons are in the uconn-social-icons directory. I recognize this is a little silly. - AB */

/* .icon-78-instagram:before {
  content: "\e900";
  color: #555;
}
.icon-78-linkedin:before {
  content: "\e901";
  color: #555;
} */
.icon-78-tiktok:before {
  content: "\e902";
  color: #555;
}
/* .icon-46-facebook:before {
  content: "\e903";
  color: #555;
}
.icon-43-twitter:before {
  content: "\e904";
  color: #555;
}
.icon-58-youtube:before {
  content: "\e905";
  color: #555;
} */
