.skip-link {
    position: absolute;
    top: -10000em;
    &:focus {
        left: 6px;
        top: 7px;
        height: auto;
        width: auto;
        display: block;
        font-size: 14px;
        font-weight: 700;
        padding: 15px 23px 14px;
        background-color: #f1f1f1;
        color: #21759b;
        z-index: 100000;
        line-height: normal;
        text-decoration: none;
    }
}