@font-face {
  font-family: 'uconn-social-icons';
  src:  url('fonts/uconn-social-icons.eot?qufkwf');
  src:  url('fonts/uconn-social-icons.eot?qufkwf#iefix') format('embedded-opentype'),
    url('fonts/uconn-social-icons.ttf?qufkwf') format('truetype'),
    url('fonts/uconn-social-icons.woff?qufkwf') format('woff'),
    url('fonts/uconn-social-icons.svg?qufkwf#uconn-social-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon-social';
  src: url('../icomoon/fonts/icomoon.eot?oohnvd');
  src: url('../icomoon/fonts/icomoon.eot?oohnvd#iefix') format('embedded-opentype'),
    url('../icomoon/fonts/icomoon.ttf?oohnvd') format('truetype'),
    url('../icomoon/fonts/icomoon.woff?oohnvd') format('woff'),
    url('../icomoon/fonts/icomoon.svg?oohnvd#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"],
[class^="uconn-icon-"], [class*=" uconn-icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon-social' !important;
  font-size: 45px;
}

[class^="uconn-icon-"],
[class*=" uconn-icon-"] {
  font-family: 'uconn-social-icons' !important;
}

.icon-78-tiktok:before {
  content: "\e902";
  color: #555;
}

.uconn-icon-78-instagram:before {
  content: "\e900";
  color: #555;
}
.uconn-icon-78-linkedin:before {
  content: "\e901";
  color: #555;
}
.uconn-icon-78-snapchat:before {
  content: "\e902";
  color: #555;
}
.uconn-icon-46-facebook:before {
  content: "\e903";
  color: #555;
}
.uconn-icon-43-twitter:before {
  content: "\e904";
  color: #555;
}
.uconn-icon-58-youtube:before {
  content: "\e905";
  color: #555;
}
