.ucomm-accordion {
  .wp-block-ucomm-blocks-accordion-block-item {
    @include box-shadow($x: -4px, $y: 4px, $color: $coolGrey200);
    border: 1px solid $coolGrey200;
    box-shadow: -4px 4px $coolGrey200;
    margin-bottom: 20px;
  }
  .uc-accordion-item-button {
    @extend %accordion-button-styles;
    border-left: unset;
    &:before {
      content: '';
      transform: scaleX(0);
    }
    &:hover,
    &:focus {
      &:after {
        transform: scaleX(0);
      }
    }
  }
  .uc-accordion-item-button[aria-expanded="true"] {
    background-color: unset;
  }
  .uc-accordion-item-panel {
    > * {
      padding-inline: 16px;
    }
  }
  .wp-block-columns {
    p {
      padding: unset;
    }
  }
}