#uconn-banner {
    @extend .contain;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;

    a {
        text-decoration: none;
        &#home-link {
            display: block;
        }
    }

    [class*="icon-"] {
        font-family: "banner icons" !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        font-size: 25px; 

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .icon-a-z:before {
        content: "\e600";
    }
    .icon-search:before {
        content: "\e601";
    }

    #wordmark {
        color: $uconn-blue;
        font-family: $uconn-font, $fallback-fonts;
        font-size: 87px;
        overflow: hidden;
        letter-spacing: 3px;
        text-transform: uppercase;
        @extend %smoothing;
        @media (max-width: 500px) {
            letter-spacing: 2px;
            font-size: 50px;
        }
    }

    .no-css {
        height: 1px;
        left: -99999px;
        position: absolute;
        width: 1px;
    }

    .icon-container {
        position: relative;
        &#icon-container-search {
            margin-right: 25px;
        }
        @media screen and (max-width: $mobile-breakpoint) {
            display: none;
        }
    }

    #button-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .btn,
        .btn:hover,
        .btn:visited,
        .btn:focus {
            border-radius: 0;
            // @include transition(none);
            transition: none;
            background-position: 0% 0%;
            background-color: transparent;
            border: none;
            color: #fff;
            transition: border 0.08s linear;
        }
        .icon-container {
            .btn {
                color: $uconn-blue;
            }
        }
    }
    #uconn-search,
    #uconn-az {
        position: relative;
        font-size: 25px;
        &:before {
            content: "";
            position: absolute;
            bottom: 30px;
            left: 0;
            width: 100%;
            height: 2px;
            box-shadow: inset 0 2px 0 0 #000e2f;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
        }
        &:hover:before,
        &:focus:before {
            opacity: 1;
        }
        &:hover,
        &:focus {
            + div {
                @extend %tooltip-container;
                transition: opacity 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
            }
        }
    }
    // the icons are different sizes so we have to position them slightly differently.
    // they also need different content in case css is disabled on the client.
    #uconn-search-tooltip {
        right: 28px;
        font-size: initial; 
        &:before {
            content: "";
        }
        &:after {
            right: 25px;
        }
    }
    #uconn-az-tooltip {
        right: -9px;
        font-size: initial;
        &:before {
            content: "";
        }
        &:after {
            right: 22px;
        }
    }
    #uconn-search,
    #uconn-az {
        position: relative;
        &:before {
            content: "";
            position: absolute;
            bottom: 110%;
            left: 0;
            width: 100%;
            height: 2px;
            box-shadow: inset 0 2px 0 0 #000e2f;
            transition: opacity 0.3s ease-in-out;
            opacity: 0;
        }
        &:hover:before,
        &:focus:before {
            opacity: 1;
        }
        &:hover,
        &:focus {
            // make the divs visible on hover or focus
            + div {
                @extend %tooltip-container;
                transition: opacity 0.3s ease-in-out;
                opacity: 1;
                visibility: visible;
            }
            // set the content only on hover/focus
            // this avoids overflowing the banner when the text isn't visible
            + #uconn-search-tooltip {
                &:before {
                    content: "Search UConn";
                }
            }
            + #uconn-az-tooltip {
                &:before {
                    content: "UConn A to Z Index";
                }
            }
        }
    }
}

%tooltip-container {
    background-color: #ededed;
    border-top: 1px solid #ededed;
    color: #000e2f;
    padding: 12px 16px;
    position: absolute;
    top: 120%;
    right: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
    display: block;
    white-space: nowrap;
    -webkit-transform: translate3d(0, 0, 0);
    pointer-events: none;
    &:before {
        font-family: $font-family-body;
        font-size: 14px;
        font-weight: bold;
    }
    &:after {
        border-color: transparent #ededed transparent transparent;
        border-style: solid;
        border-width: 10px 8px 10px 0px;
        bottom: 85%;
        right: 10px;
        content: "";
        position: absolute;
        transform: rotate(90deg);
    }
}
