main button,
main a.button,
main .fl-builder-content .fl-button-wrap a.fl-button,
main .wp-block-button > .wp-block-button__link {
    @extend %button-typography;
    @include button-styles; 
}

main .fl-builder-content .fl-module-button.is-style-royal-blue-white-hover a.fl-button,
main .wp-block-button.is-style-royal-blue-white-hover > .wp-block-button__link {
    @extend %button-typography;
    @include button-styles(
        #ffffff, 
        $highlight-2, 
        $alt-text-color: $uconn-blue
    );
}

main .fl-builder-content .fl-module-button.is-style-white-royal-blue-hover a.fl-button,
main .wp-block-button.is-style-white-royal-blue-hover > .wp-block-button__link {
    @extend %button-typography;
    @include button-styles(
        $base-color: $background-1, 
        $text-color: $contrast-2, 
        $alt-text-color: $background-1
    );
}

.wp-block-column {
    .wp-block-buttons {
        > .wp-block-button {
            margin-inline-start: 20px;
        }
    }
}

/*
Forminator does a strange thing. They load their stylesheets in the footer. makes it pretty challenging to override
*/
main {
    form[id^="forminator-module"].forminator-ui.forminator-custom-form[data-design=flat] {
        .forminator-label {
            font-size: 14px !important;
            margin-block-end: 4px;
        }
        .forminator-save-draft-link {
            border: 1px solid $uconn-blue;
            color: $uconn-blue;
            font-family: $font-family-body !important;
            font-size: 16px !important;
            font-weight: 400 !important;
            letter-spacing: 2px !important;
            padding: 12px 20px !important;
            text-decoration: none !important;
            text-align: center !important;
            text-transform: uppercase !important;
            &.disabled {
                border: 1px solid #a5a5a5 !important;
                &:hover,
                &:focus {
                    border: 1px solid #a5a5a5;
                    color: #a5a5a5;
                }
            }
            &:hover,
            &:focus {
                border: 1px solid $uconn-red;
                color: $uconn-red;
            }
        }
        .forminator-button {
            font-family: $font-family-body !important;
            font-size: 16px !important;
            font-weight: 400 !important;
            letter-spacing: 2px !important;
            text-decoration: none !important;
            text-align: center !important;
            text-transform: uppercase !important;
            @include button-styles;

            &:hover,
            &:focus {
                box-shadow: unset;
            }
        }
    }
}