%input-styles {
  background-color: rgba($uconn-grey, 0.2);
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 20px;
  padding: 4px 6px;
  width: 100%;
  &:focus {
    background-color: rgba($uconn-grey, 0.1);
  }
}

%submit-styles {
  background-color: $uconn-blue;
  border: 0;
  border-left: 6px solid $uconn-red;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  line-height: unset !important;
  padding: 0.6rem 2rem;
  width: inherit;
  &:focus,
  &:hover {
    background-color: $uconn-red;
  }
}

input,
textarea,
select {
  &.wpcf7-form-control {
    @extend %input-styles;
  }
}

input[type="submit"] {
  @extend %submit-styles;
}

select {
  &.wpcf7-select {
    height: 2rem;
  }
}

.gform_wrapper {
  .gform_body {
    .ginput_container {
      input,
      textarea,
      select {
        @extend %input-styles;
      }

      &_checkbox,
      &_radio {
        input {
          width: unset;
        }
      }

      .gfield_list_groups {
        button {
          background-repeat: no-repeat;
          min-width: unset;
          &:before {
            content: unset;
            background-color: unset;
            z-index: unset;
          }
          &:after {
            transform: scaleX(0);
          }
        }
      }
    }
  }
  .gform_footer {
    .gform_button {
      @extend %submit-styles;
    }
  }
}

span.wpcf7-not-valid-tip {
  color: $uconn-red;
}

div.wpcf7-response-output {
  border: 2px solid $uconn-blue;
  font-weight: bold;
  margin: 2rem auto;
  padding: 1rem;
  &.wpcf7-mail-sent-ok {
    border: 2px solid adjust($uconn-red, 90deg);
  }
  &.wpcf7-validation-errors {
    border: 2px solid $uconn-red;
  }
}