.wp-block-group {
  > .wp-block-cover {
    padding-block: 0;
  }
}

body:not(.fl-builder) {
  .wp-block-cover {
    &.is-style-full-height-cover,
    &.full-height-cover {
      height: 100%;
    }
    &.is-style-grey-shadow {
      @include box-shadow($color: $coolGrey300);
    }
    &.is-style-red-shadow {
      @include box-shadow($color: $highlight-1);
    }
    &.is-style-royal-blue-shadow {
      @include box-shadow($color: $blue700);
    }
    &.is-style-uconn-blue-shadow {
      @include box-shadow;
    }
  }
}