footer#footer-main {
    background-color: $uconn-blue;
    color: white;
    font-family: $font-family-body;
    padding: 25px 0;
    position: relative;
    overflow: hidden;
    .widgettitle {
        color: white;
        font-weight: 900;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        padding: 0;
        @media (max-width: $small-breakpoint) {
            margin-bottom: 5px;
            margin-top: 20px;
        }
    }
    .footer-main-wrap {
        position: relative;
        z-index: 2;
        max-width: 800px;
        .footer-main-row {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @media (max-width: $small-breakpoint) {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            &.social-row {
                gap: 16px;
                justify-content: center;
                padding-top: 20px;
                padding-bottom: 20px;
                margin-bottom: 30px;
                @media (max-width: $small-breakpoint) {
                    flex-direction: row;
                }
                @media screen and (max-width: $mobile-breakpoint) {
                    flex-wrap: wrap;
                    max-width: 220px;
                    margin: 0 auto;
                }
                @extend %round-icon-links;
                a {
                    i {
                        background-color: $coolGrey300;
                        border: 1px solid $coolGrey300;
                        height: 45px;
                        width: 45px;
                        &::before {
                            color: $contrast-2;
                            font-size: 24px;
                        }
                    }
                    &:hover {
                        i {
                            background-color: $highlight-2;
                            border-color: $highlight-2;
                            &::before {
                                color: $background-1;
                            }
                        }
                    }
                }
            }
            .uc_footer_sidebar {
                ul.menu {
                    padding-left: 0;
                    list-style-type: none;
                    li {
                        a {
                            color: white;
                            text-decoration: none;
                            padding: 4px 0;
                            font-size: 14px;
                            font-weight: normal;
                            display: inline-block;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            &.bottom-row {
                justify-content: center;
                align-items: center;
                margin-top: 50px;
                padding-bottom: 20px;
                .uc_footer_sidebar {
                    margin: 0 30px;
                    color: white;
                    flex-grow: 1;
                    flex-basis: 0;
                    &.uc_footer_bottom_left_sidebar {
                        text-align: right;
                    }
                    p {
                        color: white;
                    }
                    ul {
                        margin-top: 20px;
                        li {
                            a {
                                text-decoration: underline;
                                &[href="#"] {
                                    text-decoration: none;
                                    cursor: default;
                                }
                                &:hover,
                                &:focus {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
