// admins sometimes need to hide inputs that aren't of type hidden (e.g. text/textarea)
.uc-forminator-admin {
  display: none;
}

.logged-in .uc-forminator-admin {
  display: initial !important;
}

// create form styles for slate for integration
// uses ITS uc-slate plugin

.uc-slate {
.action {
    margin-block: 32px;
  }
}

.form_page {
  .form_label {
    font-family: $font-family-body;
    margin-block-end: 8px;
  }
  .form_question {
    margin-block-end: 0;
  }
  div[data-type="birthdate"] {
    .form_responses {
      select {
        margin: 0 0 16px 0 !important;
      }
    }
  }
  div[data-type^="location"] {
    fieldset {
      > .form_label {
        display: none;
      }
      > div {
        margin-block-end: 16px;
      }
    }
  }
  @media screen and (min-width: $small-breakpoint) {
    display: grid;
    gap: 8px 16px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    div[data-type="birthdate"],
    div[data-type^="location"] {
      grid-column: 1 / 3;
    }
    div[data-type="birthdate"] {
      .form_responses {
        display: flex;
        gap: 8px;
        select {
          margin: unset;
        }
      }
    }
  }
}