.fl-module.is-style-round-icon-links {
  .fl-module-content {
    .fl-icon {
      @extend %round-icon-links;
      a {
        i[class*="fa-"] {
          height: 50px;
          width: 50px;
        }
      }
    }
  }
}