// Parent class for a page that uses beaver builder.
// body.fl-builder {
// }

body:not(.fl-builder) {
    // prevent overflow problems with full width rows
    overflow-x: hidden;
    #main-navigation {
        margin-bottom: 30px;
    }
    main {
        .hentry {
            > * {
                margin: 0 auto;
                max-width: $wideSize;
            }
        }
    }
}

body.page-with-blocks {
    #main-navigation {
        margin-bottom: 0;
    }
    main {
        .hentry {
            > * {
                max-width: $contentSize;
            }
            .alignwide {
                max-width: $wideSize;
            }
            .alignfull {
                max-width: unset;
                &.has-background:first-of-type {
                        margin-top: 20px;
                }
                .wp-block-columns {
                    max-width: $contentSize;
                    &.alignwide {
                        max-width: $wideSize;
                    }
                    &.full-width-columns {
                        gap: 0;
                        max-width: unset;
                        > .wp-block-column {
                            > .wp-block-group {
                                max-width: calc($wideSize / 2);
                                padding: 20px;
                            }
                        }
                    }
                }
                .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column:not(:first-child) {
                    margin-left: unset;
                }
            }
            .wp-block-column {
                > * {
                    padding-block: 0;
                }
                > * + * {
                    margin-block-start: 16px;
                }
            }
        }
    }
    .angle-title-row {
        + section {
            margin-block-start: 60px;
        }
    }

}

// default styles for pages with an angled header.
body.angled-header:not(.page-with-blocks), 
body.post-type-archive-uconn_azindex_entry {
    #main-navigation {
        margin-bottom: 0;
    }
    .wrapper {
        main {
            max-width: 100%;
            padding: 0;
        }
        section {
            margin: 0 auto;
            max-width: $wideSize;
            padding: 20px;
        }
    }
}
