/*
  Styles for the home page map markers.
  .map-markers is a class added to the beaver builder module.
*/

.map-markers {
  a {
    color: #000000;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $uconn-red;
      text-decoration: underline;
    }
  }
  strong {
    img {
      margin-right: 6px;
      vertical-align: bottom;
    }
  }
}