.navigation-mobile {
    display: none;
    // @extend .contain;
    @media (max-width: $medium-breakpoint) {
        display: block;
    }

    .mobile-trigger {
        background-color: transparent;
        border: 0;
        color: $royal-blue;
        cursor: pointer;
        font-weight: bold;
        font-size: 20px;
        line-height: 1;
        margin-left: 25px;
        padding: 0;
        text-transform: uppercase;
        i {
            font-size: 35px;
            margin-top: -3px; // Icons are set at different points (baseline, middle, top, etc).  Fixing that.
        }
    }

    .mobile-navigation-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
        padding: 10px;
        pointer-events: none;
        visibility: hidden;
        transition: visibility 0.2s ease-in-out;
        will-change: visibility;
        .mobile-navigation-popup {
            position: relative;
            padding: 25px;
            background-color: #efefef;
            border-radius: 5px;
            color: $uconn-blue;
            min-height: 400px;
            opacity: 0;
            transform: scale(0.9);
            will-change: transform, opacity;
            transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
            border: adjust($background-2, -10%);
            .mobile-navigation-close {
                background-color: transparent;
                border: 1px solid transparent;
                position: absolute;
                font-size: 30px;
                top: 20px;
                right: 20px;
                cursor: pointer;
                i {
                    color: $uconn-blue;
                }
            }
            .mobile-navigation-menu-wrap {
                .menu-main-navigation-container {
                    ul {
                        list-style-type: none;
                        margin: 0;
                        padding: 0;
                        li {
                            margin: 0 0 16px;
                            a {
                                border-bottom: 4px solid transparent;
                                color: $uconn-blue;
                                text-decoration: none;
                                font-weight: bold;
                                font-size: 18px;
                                padding: 4px 0;
                                display: inline-block;
                                &:hover,
                                &:focus {
                                    border-bottom-color: $royal-blue;
                                }
                            }
                        }
                    }
                    & > ul {
                        & > li {
                            &.current-menu-item,
                            &.current-menu-ancestor {
                                & > a {
                                    border-color: $royal-blue;
                                }
                            }
                            & > ul.sub-menu {
                                margin-top: 10px;
                                margin-bottom: 10px;
                                & > li {
                                    margin-left: 20px;
                                    &.current-menu-item {
                                        & > a {
                                            border-bottom: 4px solid transparent;
                                            &:after {
                                                position: absolute;
                                                bottom: 0;
                                                left: 0;
                                                height: 3px;
                                                width: 25px;
                                                background-color: $royal-blue;
                                                content: "";
                                            }
                                        }
                                    }
                                    & > a {
                                        position: relative;
                                        font-size: 15px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.active {
            pointer-events: auto;
            visibility: visible;
            .mobile-navigation-popup {
                opacity: 1;
                transform: scale(1);
            }
        }
        // create a border after the search links to separate them from the main menu
        #menu-main-navigation  {
            > li:nth-of-type(2) {
                border-bottom: 1px solid adjust($background-2, -15%);
                padding-bottom: 8px;
            }
        }
    }
}

// logged in
body.admin-bar {
    .mobile-navigation-container {
        top: 32px;
        @media screen and (max-width: 782px) {
            top: 46px;
        }
    }
}
