.search-header {
  margin: revert;
}

input[type="search"] {
  border: 1px solid $uconn-blue;
  font-family: $font-family-body;
  font-size: 1rem;
  padding: 0.5rem;
  width: 50%;
  &::placeholder {
    color: $uconn-blue;
    font-family: $font-family-body;
  }
}

.archive {
  input {
    font-size: 1rem;
  }
  #tax-filter-form {
    margin: 3rem auto;
    div {
      & + * {
        margin-top: 1rem;
      }
    }
  }
  #tag-filter {
    font-size: 1rem;
    width: inherit;
  }
}