$top-nav-item-side-padding: 12px;
$top-nav-item-top-bottom-padding: 15px;

%menu-typography {
  display: block;
  color: $uconn-blue;
  cursor: pointer;
  font-family: $font-family-body;
  font-weight: bold;
  position: relative;
  width: 100%
}

%horizontal-border {
  content: "";
  background: $royal-blue;
  position: absolute;
  bottom: -1px;
  height: 4px;
  left: $top-nav-item-top-bottom-padding;
  right: $top-nav-item-top-bottom-padding;
  display: block;
  margin: auto;
  width: auto;
  will-change: transform;
}

%veritcal-border {
  content: "";
  background: $royal-blue;
  display: block;
  position: absolute;
  left: -2px;
  top: $top-nav-item-top-bottom-padding - 5px;
  bottom: $top-nav-item-top-bottom-padding - 5px;
  transform: scaleY(0);
  transition: transform 0.2s ease-in-out;
  margin: auto;
  width: 5px;
  will-change: transform;
}

#main-navigation {
  background-color: white;
  border-bottom: 6px solid $uconn-blue;
  &.navigation-desktop {
    @media (max-width: $medium-breakpoint) {
      display: none;
    }
  }
  #am-main-nav {
    padding-left: 0;
  }
  // overrides for the first menu item so it left aligns correctly.
  ul:first-child {
    > li:first-child {
      > a {
        padding-left: 18px;
        &:after {
          left: 18px;
          right: 0;
        }
      }
    }
  }
}

nav[id^='am-'] {
  @extend .contain;
  @extend .flex-row-center-stretch;
  > ul {
    align-items: center;
    margin: 0;
    > li {
      // base styles for top level links
      .am-link,
      .am-submenu-link {
        @extend %menu-typography;
        border: 1px solid transparent;
        padding: $top-nav-item-top-bottom-padding $top-nav-item-side-padding;
        text-decoration: none;
        white-space: nowrap;
        &:after {
          @extend %horizontal-border;
          transition: transform 0.2s ease-in-out;
          transform: scaleX(0);
        }
        &:hover:after,
        &:focus:after {
          transform: scaleX(1);
        }
      }
      // base styles for top level buttons
      .am-submenu-button {
        @extend %menu-typography;
        border: 1px solid transparent;
        padding-top: $top-nav-item-top-bottom-padding;
        padding-right: $top-nav-item-side-padding;
        padding-bottom: $top-nav-item-top-bottom-padding;
        padding-left: $top-nav-item-side-padding;
        &:after {
          @extend %horizontal-border;
          left: 0;
          transition: transform 0.2s ease-in-out;
          transform: scaleX(0);
          width: 100%;
        }
        &:hover,
        &:focus {
          outline: none;
          span {
            background-color: white;
            color: $uconn-blue;
          }
          &:after {
            transform: scaleX(1)
          }
        }
      }
      // styles for items with links and buttons
      .am-submenu-link {
        padding-right: 0;
        + .am-submenu-button {
          span {
            margin-left: 0;
          }
          &:after {
            @extend %horizontal-border;
            left: 0;
            transition: transform 0.2s ease-in-out;
            transform: scaleX(0);
            width: 100%;
          }
          &:hover:after,
          &:focus:after {
            transform: scaleX(1);
          }
        }
        &:hover:after,
        &:focus:after {
          right: 0;
          left: $top-nav-item-side-padding;
        }
      }
      // default icon styles
      .am-submenu-icon {
        &:before {
          content: "\f0d7";
          font-family: "Font Awesome 5 Free";
          font-weight: bold;
        }
      }
      // default open submenu styles
      .am-submenu-list-open {
        min-width: 100%;
        z-index: 2;
        a {
          width: 100%;
          &:before {
            @extend %veritcal-border;
          }
          &:hover:before,
          &:focus:before {
            transform: scaleY(1);
          }
          &:after {
            content: inherit;
          }
        }
        .current_page_item {
          > a {
            &:before {
              @extend %veritcal-border;
              transform: scaleY(1);
            }
          }
        }
      }
    }
  }
  // styles for the currently selected item
  .am-current-item {
    > .am-submenu-button {
      border: 1px solid $light-grey;
      border-bottom: 1px solid white;
      z-index: 3; 
    }
    .am-submenu-list-open {
      border: 1px solid $light-grey;
      transform: translateY(-1px);
      z-index: 2;
    }
    .am-submenu-link {
      border-top: 1px solid $light-grey;
      border-left: 1px solid $light-grey;
      border-bottom: 1px solid white;
      z-index: 3;
      + .am-submenu-button {
        border-left: 1px solid transparent;
      }
      &:hover:after,
      &:focus:after {
        transform: scaleX(0);
      }
    }
    &.menu-item-has-children:before {
      @extend %horizontal-border;
      border-top: 1px solid $uconn-red;
      top: 0;
      right: 0;
      bottom: inherit;
      left: 0;
      z-index: 4;
    }
  }
}

// styles for the icon in the open position
#main-navigation nav ul.am-click-menu li > button[aria-expanded="true"] span::before,
#main-navigation nav ul:not(.am-click-menu) li:hover > button .am-submenu-icon::before,
#main-navigation nav ul li:focus > button span::before {
    content: "\f0d8";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
}